services:
  wiremock:
    image: wiremock/wiremock:3.13.2-alpine
    ports:
      - '8088:8080'
    volumes:
      - ./src/testIntegration/resources/wiremock/__files:/home/wiremock/__files
      - ./src/testIntegration/resources/wiremock/mappings:/home/wiremock/mappings

  redis:
    image: redis:8.4.0-alpine
    ports:
      - '6379:6379'